// Colors
$dark-grey: #333;
$blue: #9bb7d4;
$dark-blue: #364051; 
$grey: #939597;
$off-white: #f7f7f7;
$red: #e9897e;
// Font Sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
